statemachine/gitscan.asl.json
{
    "Comment": "Scan the GitHub repositories of a user using Lambda",
    "StartAt": "Run GitHub Discovery",
    "States": {
      "Run GitHub Discovery": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "${gitscanlambda}"
        },
        "Next": "Process Scan Results"
      },
      "Process Scan Results": {
        "Type": "Map",
        "Next": "Create Report",
        "ItemsPath": "$",
        "Parameters": {
          "MessageDetails.$": "$$.Map.Item.Value"
        },
        "Iterator": {
          "StartAt": "Run GitHub Scan",
          "States": {
            "Run GitHub Scan": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload.ScanUUID",
              "Parameters": {
                "FunctionName": "${gitpulllambda}",
                "Payload":{  
                  "message.$": "$.MessageDetails"
               }
              },
              "End": true
            }
          }
        }
      },
      "Create Report": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "InputPath": "$",
        "OutputPath": "$",
        "Parameters": {
          "FunctionName": "${genreportlambda}"
        },
        "Next": "Finish"
      },
      "Finish": {
        "Type": "Succeed",
        "InputPath": "$",
        "OutputPath": "$"
      }
    }
  }